/* Apply the Montserrat font */
body,
.navbar {
    font-family: "Roboto", sans-serif;
    
}

/* Navbar base styling */
#main-navbar {
    background: white;  /* Set initial background color */
    transition: top 0.3s ease, background-color 0.3s ease;
    top: 0;
    width: 100%;
    z-index: 9999;
    position: fixed; /* Make the navbar sticky */
    padding: 15px 0;
}

/* When the user scrolls more than 50px, add a semi-transparent background */
#main-navbar.scrolled {
    background:white;
    backdrop-filter: blur(10px);
   
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Class to hide the navbar (slide it up) */
#main-navbar.nav-hide {
    top: -120px; /* adjust based on your navbar height */   
    transition: top 0.3s ease;
}


/*menu items*/
.nav-item {
    margin: 0 10px; /* Increase the margin between the menu items */
}

/* Brand */
.navbar-brand {
    font-size: 25px !important; 
    padding: 15px 15px ;
    font-weight: 700;
    display: flex;
    align-items: center;
    transform: scale(1.7); /* Scale up the brand elements */
    transform-origin: left center;  /* Ensure scaling starts from the left */
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px; /* Add letter spacing */
}

.navbar-brant-icon {
    width: 42px; /* Set width to match favicon size */
    height: 42px; /* Set height to match favicon size */
}


.navbar-brand .brand-laki {
    color: #ff8800; /* Orange color for "Laki" */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
     background: linear-gradient(90deg, #ff8800, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.navbar-brand .brand-131 {
    color: #0b74b9; /* Blue color for "131" */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, #0b74b9, #057ceb); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Added so that when you click Luki131 it doesn`t change color and remain white*/
.navbar-brand.logo-link:visited {
    color: rgb(10, 10, 10);
  }

.logo-link {
    color: white;
}
.logo-link:hover {
    color: #ff8800;
}

/* Navbar items */
.navbar-nav {
    margin-left: auto;
    text-align: center;
}

.nav-link {
    color: rgb(14, 13, 13);
    font-size: 19px;
    font-weight: 500;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
    transform: scale(1.1);
    transform-origin: center;
}

.nav-link:hover {
    color: #ff8800;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #ff8800, #ff5722);
    transition: width 0.3s ease, transform 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

/* Active state styling part of the Nav bar styling*/
.nav-link:active,  .nav-link:focus {
    color: #ff8800;
}

.nav-link:active::after, .nav-link:focus::after {
    width: 100%;
}

/* Dropdown menu styling */
.dropdown-menu {
    background: rgba(0, 0, 0, 0.9);
    border: none;
    text-align: left;
}

.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus {
   
    font-weight: 500;
    transition: color 0.3s ease;
    background-color: transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

.dropdown-menu .dropdown-item:hover {
    color: #ff8800;
    background-color: transparent;
}


/* "Contact Us" button highlight */
.btn-pop {
    background: linear-gradient(90deg, #ff8800, #d33d10);
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;}
   

.btn-pop:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 15px rgba(255, 136, 0, 0.5);
    color: white; /* Ensures text remains white on hover */
}

.contact-link:active, .contact-link:focus {
    color: white;
}


/* Dropdown icon container */
.dropdown-icon-container {
    display: flex;
    align-items: center;
}

.dropdown-arrow::after {
    content: '\25BC'; /* Unicode for downward arrow */
    font-size: 12px;
    margin-left: 5px;
}


/* Increase the size of the favicon */
.dropdown-icon {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

/*------------------ Bug fixes -----------------------------*/
/* Remove the link underline effect on hover for the .btn-pop */
.btn-pop::after {
    display: none;
}


/* Remove the default Bootstrap dropdown arrow */
.nav-link.dropdown-toggle::after {
    display: none;
}
/*------------------ Bug fixes -----------------------------*/
